* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 500px) and (max-width: 768px) {
  #con {
    margin-left: 120px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 476px;
    grid-template-rows: 246px 246px 246px 246px;
    grid-gap: 24px;
  }
  .footer > .about {
    padding-left: 319px;
    color: #1f7a54;
  }
  .footer > .creds {
    padding-left: 137px;
  }
  #nitems {
    display: none;
  }

  .nav-profile {
    width: 23px;
    height: 21px;
    margin-top: 11px;
  }
  .nav-item-ham {
    margin-top: 9px;
    width: 27px;
  }
  
}
@media (min-width: 800px) and (max-width: 1024px) {
  .footer > .about {
    padding-left: 447px;
    color: #1f7a54;
  }

  .footer > .creds {
    padding-left: 259px;
  }
  .nav-item-ham {
    display: none;
  }
  
}
@media (min-width: 1025px) and (max-width: 2560px) {
  #con {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 476px 476px;
    grid-template-rows: 246px 246px;
    grid-gap: 24px;
  }
  .nav-item-ham {
    display: none;
  }
  
}



body {
  margin: 0;
  background-color: #eeeeee;
  font: inherit;
  font-family: "Helvetica";
}

.aligner {
  margin-left: 24px;
  margin-right: 24px;
}
.navbar {
  background-color: #25313f;
  display: flex;
  height: 56px;
}

.bubble {
  position: relative;
  margin-bottom: 15px;
  background-color: #2a7ff3;
  left: 13px;
  bottom: 10px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  color: white;
  z-index: 1;
}
.navbar > .navbar-brand {
  color: white;
  font-size: 24px;
  padding-top: 10px;

  padding-left: 24px;
}

.navbar > .navbar-items {
  display: flex;

  margin-left: auto;
  color: #3fd28b;

  padding-right: 20px;
}

.nav-item-text {
  margin-right: 32px;

  height: 56px;
  padding-top: 19px;
}
.nav-item-text:hover {
  color: white;
  border-bottom: 4px solid white;
}

.nav-icon {
  position: absolute;
  top: 18px;
  width: 20px;
  height: 20px;
}

.ham {
  width: 27px;
  height: 4px;
  background-color: #8ddc97;
  margin: 5px 0;
}

.banner {
  margin-top: 24px;

  display: flex;
  background-color: #8ddc97;
  height: 64px;
}

.banner > .course,
.class {
  width: 756px;
  text-align: center;
  padding-top: 20px;
}

.banner > .course {
  border-bottom: 5px solid black;
  display: flex;
  justify-content: center;
}
.banner > .class {
  display: flex;
  justify-content: center;
}

.courseimg {
  width: 21px;
  height: 32px;
}

.cotext {
  padding-top: 8px;
  padding-left: 8px;
}

.summary {
  margin-top: 37px;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00000029;
}

.summary > .csum {
  color: #686868;
  font-size: 12px;
}

.summary > .sort {
  padding-top: 10px;
  color: #686868;
  font-size: 12px;

  width: 250px;
}

.select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00000029;
  background-color: #eeeeee;
  width: 165px;
  margin-right: 24px;
}

select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00000029;
  background-color: white;
  width: 264px;
}

.content {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 476px 476px;
  grid-template-rows: 246px 246px;
  grid-gap: 24px;
}

strong {
  color: black;
}

.footer {
  margin-top: 80px;

  display: flex;
  flex-direction: column;
}

.about {
  padding-left: 680px;
  color: #1f7a54;
}

.creds {
  display: flex;
  background-color: #e0e1e1;
  padding-left: 450px;
  height: 40px;
}

.creds > .footertxt {
  padding-left: 30px;
  color: #616161;
  font-size: 12px;
  margin-top: 13px;
  padding-top: 5px;
}

.creds > .footerimg {
  margin-top: 13px;
}

/* hover stuff */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gayab {
  display: none;
}
.slowly {
  transition: all 10s ease;
}
.hamhover {
  width: 280px;
  height: fit-content;
  background-color: #ffffff;
  color: #1f7a54;
  position: absolute;
  right: 16px;
  z-index: 2;
  box-shadow: 0px 13px 20px #0000003d;
  border-radius: 2px;
  opacity: 1;
}
.hover-content {
  height: 48px;
  padding-top: 15px;
  padding-left: 16px;

  display: flex;
  justify-content: space-between;
}
.arro {
  margin-right: 24px;
}
.drop {
  background-color: #f3f3f3;
}
.drop-down {
  padding-left: 32px;
}
.arrow {
  border: solid #1f7a54;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.mikehover {
  width: 315px;
  height: 582px;
  background-color: #ffffff;
  position: absolute;
  right: 136px;
  z-index: 1;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.bellhover {
  width: 315px;
  height: 582px;
  background-color: #ffffff;
  position: absolute;
  right: 188px;
  z-index: 1;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.mikehover-content-main > .mikehover-content {
  height: fit-content;
  border-bottom: 1px solid #eeeeee;
}
.mikehover-content > .mikehover-text {
  margin: 16px 16px;
  height: fit-content;
}
.mikehover-text > .mh-text-head {
  display: flex;
  justify-content: space-between;
}
.mh-text-head > .mh-text-title {
  font-size: 12px;
}

.mikehover-text > .mh-text-body {
  font-size: 14px;
  margin-top: 8px;
}
.mh-text-foot > .mh-text-foot-course-info {
  display: flex;
  justify-content: space-between;
  color: #6e6e6e;
  font-size: 12px;
  margin-top: 8px;
}
.mh-text-foot-course {
  margin-top: 8px;
  font-size: 12px;
  height: 15px;
  color: #6e6e6e;
}
.mikehover-buttons {
  display: flex;
  text-align: center;
  height: 38px;
  color: #1f7a54;
  justify-content: space-around;
  box-shadow: 0px 1px 6px #0000003d;
  border-radius: 0px 0px 2px 2px;
  opacity: 1;
  padding-top: 8px;
  font-size: 14px;
}


.content{
  display: grid;
  text-align: center;
  grid-template:250px 250px/1fr 1fr;
  grid-gap: 10px;
  
}


.card {
  background-color: #ffffff;
  align-items: center;
  

}
.card > .card-body {
  border-bottom: 1px solid #00000029;
  display: flex;
  justify-content: flex-start;
}

.card-body > .card-img {
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 16px;
}
.card-detail > .card-select {
  margin-top: 18px;
  font-style: "Helvetica";
}

.card-body > .card-detail {
  margin-top: 24px;
  margin-left: 16px;
  width: 435px;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.card-detail > .card-title {
  font-weight: bold;
  font-size: 20px;
}

.card-detail > .card-subtitle {
  color: #686868;
  font-size: 12px;
}

.card-detail > .card-lessons {
  padding-top: 7px;
  color: #686868;
  font-size: 12px;
}

.card-lessons > strong {
  color: #4d4d4d;
}

.card-subtitle > strong {
  color: #4d4d4d;
}

.card-detail > .card-teacher {
  color: #686868;
  font-size: 10px;
  padding-top: 20px

}

.card > .card-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
